@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Componets */
@import "componet/status-bar.css";
@import "componet/nav-bar.css";
@import "componet/screen-header.css";
@import "componet/user-componet.css";
@import "componet/badge.css";
@import "componet/icon-row.css";
@import "componet/alt-screen-header.css";
@import "componet/no-mobile.css";
/* Screens */
@import "screens/login.css";
@import "Screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
  color: #2e363e;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}
